<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        a{
            font-size: 3em;
            text-decoration: none;
            transition: font-size 1s;
        }
        a:hover{
            font-size: 4em;
        }
    </style>
</head>
<body>
    <h1>Welcome To my php 🤣</h1>
    <p>Does php stand for Personal Home Page? PHP</p>
    <p>Was it really a personal project?</p>
    <p>blah. blah. blah.</p>
    <p>
        <a href="https://www.google.com">Go To Google</a>
    </p>
    <p>
        <a href="{% url 'amir'%}">Go To Amir Page</a>
    </p>
    <p>
        <a href="{% url 'ali'%}">Go To Ali Page</a>
    </p>
    <p>
        <a href="{% url 'abbas' %}">Go To Abbas Page</a>
    </p>    
    <h2>
        This Page is For Abbas Booazar with one 'R' :D
    </h2>
    <ol>
        Teachers:
        {% for teacher in teachers %}
        <li>
            {{ teacher }}
        </li>
        {% endfor %}
    </ol>
    <ol>
        students:
        {% for student in students %}
        <li>
            {{ student }}
        </li>
        {% endfor %}
    </ol>
    <ol>
        objects:
        {% for object in objects %}
        <li>
            {{ object.name }} {{ object.family }}
        </li>
        {% endfor %}
    </ol>
</body>
</html>